<section class="task-machine">
    <header class="header">
      <div class="container">
        <h1>Mi trabajo para hoy</h1>
        <p>Todas las tareas en un sólo lugar</p>          
      </div>
    </header>
    <div class="container task-machine-wrapper">
      <!-- This section should be hidden by default and shown when there are todos -->
       <!-- <pre>
        <code>
          {{ filteredTasks() | json }}
        </code>
       </pre> -->
      <section class="main">
        <div *ngIf="tasks().length > 0; else noTasks">
          <ul class="todo-list list-group list-group-light" *ngIf="filteredTasks().length > 0; else noMatches">
            <li class="list-group-item" [class.completed]="task.completed" *ngFor="let task of filteredTasks(); index as i">
              <div class="view">
                <input class="toggle" type="checkbox" [checked]="task.completed" (change)="toggleCompleteTask(task.id)"/>
                <label>{{ i + 1 }} {{ task.name }}</label>
                <button class="destroy" (click)="deleteTask(task.id)"></button>
              </div>
              <input class="edit" value="Learn JavaScript" />
            </li>
          </ul>
          <ng-template #noMatches>
            <p class="text-center pt-5">No hay coincidencias para tu búsqueda.</p>
          </ng-template>
        </div>          
        <ng-template #noTasks>
          <p class="text-center pt-5">Sin tareas. Agrega una para empezar tu día.</p>
        </ng-template>
          <li class="completed">
            <div class="view">
              <input class="toggle" type="checkbox" checked />
              <label>Learn JavaScript</label>
              <button class="destroy"></button>
            </div>
            <input class="edit" value="Learn JavaScript" />
          </li>
          <li>
            <div class="view">
              <input class="toggle" type="checkbox" />
              <label>Buy a unicorn</label>
              <button class="destroy"></button>
            </div>
            <input class="edit" value="Buy a unicorn" />
          </li>
          <li class="editing">
            <div class="view">
              <input class="toggle" type="checkbox" />
              <label>Make dishes</label>
              <button class="destroy"></button>
            </div>
            <input class="edit" value="Make dishes" />
          </li>
        </ul> -->
      </section>
      <footer class="footer" *ngIf="tasks().length > 0">
        <span class="todo-count">
          <strong>{{ filteredTasks().length }}</strong>
          <span *ngIf="filteredTasks().length === 1; else someTasks"> tarea</span>
          <ng-template #someTasks> tareas</ng-template>
        </span>
        <ul class="filters">
          <li>
            <a (click)="filterTasks('all')" [ariaDisabled]="filter() === 'all'" [class.selected]="filter() === 'all'">Todas</a>
          </li>
          <li>
            <a (click)="filterTasks('pending')" [class.selected]="filter() === 'pending'">Pendientes</a>
          </li>
          <li>
            <a (click)="filterTasks('completed')" [class.selected]="filter() === 'completed'">Completadas</a>
          </li>
        </ul>
      </footer>
    </div>
    <button class="btn btn-primary" (click)="openAddTaskModal()">Open modal</button>
</section>
